body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, textarea, button, form, a, p, table, th, td { margin: 0; padding: 0; }
body { font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; color: #333; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
*{box-sizing:border-box;}
ul, ol, li { list-style:none;}
a { text-decoration: none; }
img { vertical-align: middle; }
.clearfix:after { content: ''; display: block; height: 0; visibility: hidden; clear: both; }
/*重置样式 css reset*/
.fl { float: left; }
.fr { float: right;}
